:root{
  /* Colour Settings */
    --clr-primary-red: hsl(0, 100%, 67%);
    --clr-primary-orange:hsl(39, 100%, 56%);
    --clr-primary-teal: hsl(166, 100%, 37%);
    --clr-primary-blue: hsl(234, 85%, 45%);
  
    --bg-primary-red: hsla(0, 100%, 67%, .1);
    --bg-primary-orange:hsla(39, 100%, 56%, .1);
    --bg-primary-teal: hsla(166, 100%, 37%, .1);
    --bg-primary-blue: hsla(234, 85%, 45%, .1);
  
    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-pale: hsl(221, 100%, 96%);
    --clr-neutral-lavender: hsl(241, 100%, 89%);
    --clr-neutral-dark-gray: hsl(224, 30%, 27%);
  
    --clr-gradient-slate-blue: hsl(252, 100%, 67%);
    --clr-gradient-royal-blue: hsl(241, 81%, 54%);
    --clr-gradient-violet-blue: hsla(256, 72%, 46%, 1);
    --clr-gradient-persian-blue: hsla(241, 72%, 46%, 0);
  
  /* Font Settings  */
    --ff-primary: 'Hanken Grotesk', sans-serif;
  
    --fs-extra-small: 0.75rem;
    --fs-small: 0.825rem;
    --fs-medium: 1rem;
    --fs-body: 1.125rem;
    --fs-large: 1.5rem;
    --fs-extra-large: 2rem;
    --fs-heading: 3.5rem;
    
    /* Margin Blocks */
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;

    --fw-regular: 500;
    --fw-bold: 700;
    --fw-black: 800;
  }

/* Css Reset Andy Bell */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list']{
  list-style: none;
}
ul{
  padding-inline-start: 0px;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility Classes */
.container{
  max-width: 800px;
  margin-inline: auto;
}
@media(min-width: 47em){
  .container{
    box-shadow: 14px 24px 40px var(--clr-neutral-pale);
    border-radius: 20px;
    transform: translateY(40%);
  }
}

.even-columns{
  display: grid;
}
@media(min-width: 47em){
  .even-columns{
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}


/* Font Classes */
  
fs-extra-small{
  font-size: var(--fs-extra-small);
  }
  .fs-small{
    font-size: var(--fs-small);
  }
  .fs-medium{
    font-size: var(--fs-medium);
  }
  .fs-body{
    font-size: var(--fs-body);
  }
  .fs-large{
     font-size: var(--fs-large);
  }
  .fs-extra-large{
    font-size: var(--fs-extra-large);
  }
  .fs-heading{
    font-size: var(--fs-heading);
  }

  .fw-regular{
    font-weight: var(--fw-regular);
  }
  .fw-bold{
    font-weight: var(--fw-bold);
  }
  .fw-black{
    font-weight: var(--fw-black);
  }

/* Colour Utility */
  .text-primary-red{
    color: var(--clr-primary-red);
  }
  .text-primary-orange{
    color: var(--clr-primary-orange);
  }
  .text-primary-teal{
    color: var(--clr-primary-teal);
  }
  .text-primary-blue{
    color: var(--clr-primary-blue);
  }
  .text-neutral-white{
    color: var(--clr-neutral-white);
  }
  .text-neutral-pale{
    color: var(--clr-neutral-pale);
  }
  .text-neutral-lavender{
    color: var(--clr-neutral-lavender);
  }
  .text-neutral-dark-gray{
    color: var(--clr-neutral-dark-gray);
  }

  .text-center{
    text-align: center;
  }
  
  .padding-400{
    padding: var(--size-400);
  }
  .padding-500{
    padding: var(--size-500);
  }
  .padding-600{
    padding: var(--size-600);
  }

  .bg-gradient{
    background: linear-gradient(var(--clr-gradient-slate-blue), var(--clr-gradient-royal-blue));
  }
  .bg-gradient-reverse{
    background: linear-gradient(var(--clr-gradient-violet-blue), var(--clr-gradient-persian-blue));
  }
  
  .opacity-700{
    opacity: .7;
  }
  
/* Own CSS */

  body{
    font-family: var(--ff-primary);
  }
  p{
    font-size: var(--fs-body);
  }


  /* Result Column */
  .result-column{
    border-radius: 0% 0% 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    
  }
  @media (min-width: 47em){
    .result-column{
      border-radius: 20px;
      width: 95%;
    }
  }

  .score{
  border-radius: 50%;
  width: 170px;
  height: 170px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content:center;
  
  }
  @media(min-width: 47em){
    .score{
      margin-block: var(--size-600);
    }
    .score-explanation p{
      width: 26ch;
      margin-inline: auto;
    }
  }

  /* Summary Column */
  .summary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .summary-scores{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .summary-scores li{
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    border-radius: 16px;
  }
  .summary-scores li >*{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 0.5rem;
    position: relative;
  }

  .reaction-score{
    background-color: var(--bg-primary-red);
  }
  .memory-score{
    background-color: var(--bg-primary-orange);
  }
  .verbal-score{
    background-color: var(--bg-primary-teal);
  }
  .visual-score{
    background-color: var(--bg-primary-blue);
  }
  
  button{
    background-color: var(--clr-neutral-dark-gray);
    border: none;
    width: 100%;
    padding-block: 16px;
    border-radius: 999px;
    margin-top: 20px;
    cursor: pointer;
  }
  button:hover{
    background: linear-gradient(var(--clr-gradient-royal-blue), var(--clr-gradient-violet-blue));
  }